.readTitle{
    margin-bottom:10px;
    font-size: 30px;
    font-weight: bold;
}

.readSubTitle{
    margin-bottom:7px;
    font-size: 17px;
}

.readInfo{
    display : flex;
    margin-bottom:7px;
    font-size : 14px;
    color: grey;
}

.readWriter{
    margin-right : 10px;
}

.readImg{
    margin-bottom :15px;
    width:100%;
    border : 1px solid silver;
    border-radius: 10px;
}

.gifArea{
    display: flex;
    justify-content: center;
}

.readGif{
    margin-bottom :15px;
    width:80%;
    border : 1px solid silver;
    border-radius: 10px;
}

.readContent{  
    margin-bottom : 100px;
}

.topic{
    font-size : 20px;
    font-weight: bold;
}

.readBtns{
    display: flex;
    justify-content: center;
    margin-bottom : 50px;
    
}

.readBtn{
    margin : 10px;
    width: 100px;
    border : 1px solid #764abc;
    border-radius: 30px;
    background-color: #764abc;
    color : white;
    font-size : 20px;
    font-weight: bold;
}