.link{
    text-decoration:none;
    color :black;
}

.list{
    margin-bottom:10px;
    padding : 10px;
    border:1px solid silver;
    border-radius: 10px;
}

.listTitle{
    margin-bottom :2px;
    font-size : 20px;
    font-weight: bold;
}

.listInfo{
    display: flex;
    margin-bottom:5px;
    color: grey;
    font-size : 14px;
}

.listWriter{
    margin-right :10px;
}

.listSubtitle{
    margin-bottom :10px;
    font-size : 15px;
}